body {
    background-color: black;
    color: limegreen;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 20px;
}
#d1 {
    background-color: black;
    margin: 20px;
    border-style: outset;
}
input[type=text] {
    padding:5px; 
    border:2px solid limegreen; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
#tool {
    width: 850px;
    background-color: limegreen;
    margin: 20px;
    
}
