body {
    background-color: #DCDCDC;
    color: #1E90FF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 20px;
}
a {
    color: #1E90FF;
    font-size: 50px;
}
a:hover {
    background-color: #1E90FF;
    color: yellow;
    font-size: 75px;
}
#d1 {
    background-color: white;
    margin: 20px;
    border-style: outset;
    border-color: #FFFF00;
    font-size: 25px;
}
input[type=text] {
    padding:5px; 
    border:2px solid yellow; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}
input[type=password] {
    padding:5px; 
    border:2px solid yellow; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=password]:focus {
    border-color:#333;
}
textarea {
    padding:5px 15px; 
    background:white;
    font-size: 50px;
    border:0 none;
    cursor:pointer;
    color: #1E90FF;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
input[type=submit] {
    width: 200px;
    height: 100px;
    padding:5px 15px; 
    background:#1E90FF;
    color: #FFFF00;
    font-size: 50px;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
input[type=submit]:hover {
    width: 200px;
    height: 100px;
    padding:5px 15px; 
    background:#FFFF00; 
    color: #1E90FF;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
#tool {
    width: 850px;
    border:4px outset #FFFF00;
    background-color: #FFFF00;
    margin: 20px;
    
}
