<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link rel="shortcut icon" href="http://4.bp.blogspot.com/-kVdMEhhIxc0/UxIRJfbKOnI/AAAAAAAABW0/R72g3aCSNQo/s1600/post-comment-1-512.png">
    <title>Messanger</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript">
        function view_text() {
            // Find html elements.
            var textArea = document.getElementById('blog');
            var div = document.getElementById('view_text');

            // Put the text in a variable so we can manipulate it.
            var text = textArea.value;

            // Make sure html and php tags are unusable by disabling < and >.
            text = text.replace(/\</gi, "<");
            text = text.replace(/\>/gi, ">");

            // Exchange newlines for <br />
            text = text.replace(/\n/gi, "<br />");

            // Basic BBCodes.
            text = text.replace(/\[b\]/gi, "<b>");
            text = text.replace(/\[\/b\]/gi, "</b>");

            text = text.replace(/\[i\]/gi, "<i>");
            text = text.replace(/\[\/i\]/gi, "</i>");

            text = text.replace(/\[u\]/gi, "<u>");
            text = text.replace(/\[\/u\]/gi, "</u>");

            // Print the text in the div made for it.
            div.innerHTML = text;
        }

        function mod_selection(val1, val2) {
            // Get the text area
            var textArea = document.getElementById('blog');

            // IE specific code.
            if (-1 != navigator.userAgent.indexOf("MSIE")) {

                var range = document.selection.createRange();
                var stored_range = range.duplicate();

                if (stored_range.length > 0) {
                    stored_range.moveToElementText(textArea);
                    stored_range.setEndPoint('EndToEnd', range);
                    textArea.selectionstart = stored_range.text.length - range.text.length;
                    textArea.selectionend = textArea.selectionstart + range.text.length;
                }
            }
            // Do we even have a selection?
            if (typeof (textArea.selectionstart) != "undefined") {
                // Split the text in three pieces - the selection, and what comes before and after.
                var begin = textArea.value.substr(0, textArea.selectionstart);
                var selection = textArea.value.substr(textArea.selectionstart, textArea.selectionend - textArea.selectionstart);
                var end = textArea.value.substr(textArea.selectionend);

                // Insert the tags between the three pieces of text.
                textArea.value = begin + val1 + selection + val2 + end;
            }
        }

    </script>
    <script type="text/javascript">
    function insertText(elemID, text)
      {
        var elem = document.getElementById(elemID);
        elem.innerHTML += text;
      }
   
    </script>
</head>
<body>
    <center>
    {% block body %}{% endblock %}
    <br>
    <br>
    <a href="/">Home</a>&nbsp&nbsp<a href="/create">Create Account</a>&nbsp&nbsp<a href="/@user:inbox">Inbox</a>&nbsp&nbsp<a href="/post">Post</a>&nbsp&nbsp<a href="http://afeld.github.io/emoji-css/">More Emojis</a>
    
    </center>
</body>
</html>
