{% extends "base.html" %}
{% block body %}
    {% autoescape false %}
    {% for post in posts %}
        
        <p>{{ post }}</p>
        
    {% endfor %}    
    {% endautoescape %}
    
    <h2>Send from Public, Name='Public' Password=' '.</h2>
    <div id="tool">
    <br>
    <br>
    <center>
    <form action="/post" method="post">
    To:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input placeholder="Send To..." type="text" name="to"/><br><br>
     From:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input placeholder="Username..." type="text" name="user"/><br><br>Password:&nbsp<input placeholder="Password..." type="password" name="password"/><br/><br>
        <textarea placeholder="Message..." style="margin: 0px; width: 773px; height: 471px;" cols="26" rows="4" name="msg"></textarea><br/><br>
        <input type="submit" value="Post"><br/>
    </form>
    </center>
    <br>
    <br>
    </div>
    


{% endblock %}
